# Dependencies
node_modules

# Build output (we create this in Docker)
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*

# Test files
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
coverage

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
Thumbs.db
*.md
